<a href="https://colab.research.google.com/github/kgs12110/dap__/blob/main/Lecture_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Startup Data
In this lab, we would like to do multiple linear regression analysis with start-up dataset.

In [2]:
dataPath = 'https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/'
df = pd.read_csv(dataPath + '50_Startups.csv')

df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Independent and Dependent variables
There are total 5 features in the dataset.

**[TODO]** Split the data that `Profit` is our dependent feature, and the rest of them are our independent features:

In [ ]:
# separate the independent attributes from the predicting attribute
X = 

# separte the dependent attribute into Y for model training 
y =

AttributeError: ignored

# Handling categorical variables
**[TODO]** In our dataset, there is one categorical column `State`, convert this categorical values present inside this column for that we will use pandas `get_dummies()` function:

In [3]:
# handle categorical variable
X = pd.get_dummies(df, columns=['State'] )

X.head()

   R&D Spend  Administration  ...  State_Florida  State_New York
0  165349.20       136897.80  ...              0               1
1  162597.70       151377.59  ...              0               0
2  153441.51       101145.55  ...              1               0
3  144372.41       118671.85  ...              0               1
4  142107.34        91391.77  ...              1               0

[5 rows x 7 columns]

# Splitting Data
**[TODO]** Split the data into training (80%) and testing (20%) parts for that we use the scikit-learn `train_test_split()` function. Set `random_state` as `42`.

In [ ]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split

# splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: ignored

# Training model
**[TODO]** Apply the linear regression model to our training data, first of all, we have to import linear regression from the scikit-learn library.

In [ ]:
# importing module
from sklearn.linear_model import LinearRegression

# creating an object of LinearRegression class
LR = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# fitting the training data
LR.fit(X_train,y_train)

NameError: ignored

In [ ]:
y_prediction =  LR.predict(X_test)
y_prediction

NameError: ignored

# Evalutation
Compare the `y_prediction` values with the original values using `r2_score` and `RMSE`.

In [ ]:
# importing metrics module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# predicting the accuracy score
score=r2_score(y_test,y_prediction)

print('r2 socre is %.4f'%score)
print('root_mean_squared error of is %.2f'%np.sqrt(mean_squared_error(
    y_test, y_prediction)))

NameError: ignored